.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
}

.card {
  position: relative;

  width: 700px;
  height: 500px;

  border: 1px solid #2f2929;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  width: 135px;
  height: 150px;
  margin-right: 1rem;
}

.content {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 64%;

  padding: 10px 15px;
}

.heading {
  display: flex;
  align-items: center;
}

.info {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.key_phrase {
  font-size: 46px;
  font-weight: 500;
  color: #4f61b7;
}

.social_media {
  position: absolute;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  bottom: -50px;
}

.social_media_item {
  margin: 0 8px;
}

.social_media_item:hover {
  cursor: pointer;
}

.title {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.trapezia {
  background: #fccd05;
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
  width: 50%;
  height: 130px;
  z-index: 10;
}

.triangle {
  background: #c09b00;
  clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
  margin-left: 45%;
  width: 10%;
  height: 50px;
}

.wrapper {
  background: #4f61b7;
  margin-top: -50px;
  height: 40%;

  border-radius: 0 0 10px 10px;

  position: relative;
  z-index: -1;
}

.some_info {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 50px 0 0;

  height: 100%;

  color: #4c3c3c;

  font-size: 25px;
  font-weight: 500;
}

.contacts {
  position: absolute;

  color: white;

  margin: 10px 0;

  display: flex;
  justify-content: space-between;

  font-size: 24px;
  font-weight: 500;

  width: 100%;

  bottom: 0;
  left: 0;
}
