.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card {
  position: relative;

  width: 700px;
  height: 500px;

  border: 1px solid #2f2929;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  width: 135px;
  height: 150px;
  margin-right: 1rem;
}

.content {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 64%;

  padding: 10px 15px;
}

.heading {
  display: flex;
  align-items: center;
}

.info {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.key_phrase {
  font-size: 46px;
  font-weight: 500;
  color: #4f61b7;
}

.social_media {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
}

.social_media_item {
  margin: 0 8px;
}

.social_media_item:hover {
  cursor: pointer;
}

.title {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.contacts__wrapper {
  position: relative;

  height: 36%;
  width: 100%;

  background-color: #4f61b7;

  border-radius: 0 0 10px 10px;

  z-index: 10;
}

.s {
  width: 0;
  height: 0;

  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid red;
}

.contacts {
  color: white;
  font-weight: 500;
  font-size: 30px;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: space-between;

  padding: 12px 15px;
}

#trapezoid {
  border-bottom: 60px solid #fccd05;
  border-right: 50px solid transparent;

  height: 0;
  width: 200px;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 143px;

  z-index: 15;
}

#trapezoid:after {
  position: absolute;

  content: '';

  right: -74.5px;
  bottom: -60px;

  width: 0;
  height: 0;

  border-left: 25.5px solid transparent;
  border-right: 25px solid transparent;
  border-top: 30px solid #c09b01;

  z-index: -1; /* not working somehow */

  clear: both;
}

.number {
  position: relative;

  width: 100%;
  height: 60px;

  color: white;

  font-size: 22px;
  font-weight: 500;
}
